* {
    box-sizing: border-box;
}

:root {
    --color-bg: #101013;
    --primary-color: #087bff;
    --primary-content: #ffffff;
    --color-active: #5475ff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #252525;
    color: #fff;
}

a {
    color: white;
}

header {
    background-color: var(--color-bg);
    padding: 2rem 0;
    text-align: center;

    & > a {
        text-decoration: none;
        padding: 0 1rem;

        &:hover {
            text-decoration: underline;
        }
    }
}

h1 {
    text-align: center;
    margin-top: 0;
}

.container {
    max-width: 900px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

main {
    min-height: calc(100vh - 85px - 22px);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

main a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: var(--color-active);
    cursor: default;
}

form {
    display: flex;
    justify-content: center;
}

form button,
button,
input[type="submit"] {
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 0.4rem;
}

input,
textarea {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0.4rem;

    &:focus {
        outline: 1px solid var(--primary-color);
    }
}

input[type="search"] {
    padding: 0.5rem 1rem;
}

button {
    padding: 0.5rem 1rem;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login-form {
    display: grid;
    gap: 1rem;
}

.form {
    flex-direction: column;
    gap: 1rem;
}

hr {
    margin: 5rem;
}

input[type="text"],
textarea {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"] {
    padding: 0.5rem 1rem;
}

.edit-text {
    min-height: 300px;
}

.add-new {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: white;
    margin-top: 1.5rem;
    border-radius: 0.5rem;

    &:hover {
        text-decoration: none;
    }
}

.posts {
    display: grid;
    gap: 1rem;
    list-style: none;
}

.post-item {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;

    &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

.footer {
    font-size: 10px;
    color: #c5c5c5;
    border-top: 1px solid rgba(250, 250, 250, 0.07);
    padding-block: 1rem;
}
